:root {
  --blue: hsl(235, 60%, 60%);
  --blue-dark: hsl(235, 60%, 55%);
}

* {
  font-family:'Courier New', Courier, monospace;
  font-size: 16px;
}

#container {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  border-radius: 2px;
}

#chat-window {
  height: 400px;
  overflow: auto;
  background: #f9f9f9;
}

#output p {
  display: flex;
  justify-content: flex-start;
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#output p.self {
  justify-content: flex-end;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: var(--blue);
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.btn {
  background-color: var(--blue);
  color: #fff;
  font-size: 18px;
  border: 1px solid var(--blue);
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  opacity: 1;
  pointer-events: all;
}

.btn:hover:not(:disabled) {
  background-color: var(--blue-dark);
}

.btn:disabled {
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed;
}